{% extends "base.html" %}

{% block title %}Foodr - Guest Book{% endblock %}

{% block content %}
<form action="{{ url_for_security('login') }}" method="POST" name="login_form">
	<h1 class="title">All of your food in one place.</h1>
	<div class="login_container">
		<div class="login_form"> 
			<i class="fa fa-user" aria-hidden="true"></i>
			{{ login_user_form.email(placeholder="Email") }}
		</div>
		<div class="login_form">
			<i class="fa fa-lock" aria-hidden="true"></i>
			{{ login_user_form.password(placeholder="Password") }}
		</div>
		<div class="login_form">
			{{ login_user_form.remember }}
			{{ login_user_form.remember.label }}
		</div>
		{{ login_user_form.submit }}
	</div>
</form>
{% endblock %}