.container {
	max-width: 800px;
	margin: 0 auto;
}

/* login */
.login h1{
	text-align: center;
}
.login_container{
	margin: 0 auto;
	width: 30%;
}
.login_box {
	background: #A2C6FE;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
}
.login_box a{
	display: block;
	color: black;
	text-decoration: none;
}
.login_box input {
	width: 100%;
	margin-bottom: 10px;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
}
.login_button {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	background: #4d90fe;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
	text-decoration: none;
	text-align: center;
}
.login_input_text {
	margin: 0;
	font-size: 16px;
}