{% extends "base.html" %}

{% block title %}Foodr - Name {% endblock %}

{% block content %}
<p>1.</p>
<form action="/message" method="post">
	<label for="id_name">Email:</label>
	<input type ="text" name="name" id="id_name">
	<label for="id_message">Email:</label>
	<textarea name="message" id="id_message"></textarea>
	<button type="submit">Submit</button>
</form>
<p>2.</p>
<form action="/addition" method="post">
	<label for="number1">Number 1:</label>
	<input type ="text" name="number1" id="number1">
	<label for="number2">Number 2:</label>
	<input type="text" name="number2" id="number2"></input>
	<button type="submit">Submit</button>
</form>

{% endblock %}