{% extends "base.html" %}

{% block title %}Foodr - Login {% endblock %}

{% block content %}
<img src="" alt="">
<div class="login">
	<h1>All of your food in one place.</h1>
	<div class="login_container">	
		<div class="login_box">
			<p class="login_input_text">Email:</p>
			<input type="email">
			<p class="login_input_text">Password:</p>
			<input type="password">
			<a href="/ye" class="login_button">Sign in</a>
			<a href="/signup/">Don't have a account?</a>
			<a href="/forgot/">Forgot your password?</a>
		</div>
	</div>
</div>
{% endblock %}