{% extends "base.html" %}

{% block title %}{{ user.username }} - Foodr{% endblock %}


{% block content %}

{% include 'header.html' %}
<div class="container">
	<div class="profile">
		<img class="profile_picture" src="{{ user.picture }}">
		<p class="profile_name">{{ user.username }}</p>
	</div>
	<div class="profile-posts">
		{% for image in images %}
			<img class="profile_post" src="{{ image.url }}">
		{% endfor %}
	</div>
	{% if last_page and last_page != 1 %}
		<div class="pagination">
			<div class="pagination-item">
				<a class="pagination-link" href="/user/{{ user.username }}/1 ">First Page</a>
			</div>
			{% for page in pagination %}
				<div class="{% if current_page == page %}pagination-selected{% endif %} pagination-item ">
					<a class="pagination-link" href="/user/{{ user.username }}/{{ page }} ">{{ page }}</a>
				</div>
			{% endfor %}
			<div class="pagination-item">
				<a class="pagination-link" href="/user/{{ user.username }}/{{ last_page }}">Last Page</a>
			</div>
		</div>
	{% endif %}

</div>
{% endblock %}